# make gitignore
.kdev4/
*.kdev4
.kateconfig
.vscode/
.idea/
.clangd/
.cache/
compile_commands.json
/KoboRoot.tgz
/src/libnm.so
/src/action.o
/src/action_c.o
/src/config.o
/src/generator.o
/src/generator_c.o
/src/kfmon.o
/src/util.o
/src/action_cc.o
/src/nickelmenu.o
/src/plugins/MNGuiInterface.moc
/src/plugins/MNGuiInterface.moc.o
/src/plugins/example/libnmexampleplugin.so
/src/plugins/example/NMDialog.moc
/src/plugins/example/NMDialog.moc.o
/src/plugins/example/NMDialog.o
/src/plugins/example/NMExamplePlugin.moc
/src/plugins/example/NMExamplePlugin.moc.o
/src/plugins/example/NMExamplePlugin.o
