# make gitignore
.kdev4/
*.kdev4
.kateconfig
.vscode/
.idea/
.clangd/
compile_commands.json
/KoboRoot.tgz
/src/libnm.so
/src/action.o
/src/action_c.o
/src/config.o
/src/generator.o
/src/generator_c.o
/src/kfmon.o
/src/util.o
/src/nh/nh.o
/src/action_cc.o
/src/nickelmenu.o
/src/nh/nhplugin.moc
/src/nh/nhplugin.moc.o
