name: Test

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    name: NickelMenu / Symbols
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        submodules: true
    - name: Setup Go
      uses: actions/setup-go@v6
      with:
        go-version: '1.25'
    - name: Build
      run: cd test/syms && go build -o ../../test.syms .
    - name: Run
      run: cd src && ../test.syms
